<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>hello world</title>

</head>

<body>
  <div id="app">
    <p>
      {{ message }}
    </p>
    <button v-on:click="reverseMessage">Reverse Message</button>
    <span v-bind:title="message">
    Hover your mouse over me for a few seconds to see my dynamically bound title!
  </span>
    <p v-if="seen">Now you see me</p>
    <ol>
      <li v-for="todo in todos">
        {{ todo.text }}
      </li>
    </ol>
  </div>
  <script src="vue.js" />
  <script src="vue.common.js"></script>
  <script src="index.js"></script>
</body>

</html>